:root {
  /* Color */
  --color-white: #fff;
  --color-black: #000000;

  --color-blue-500: #3b82f6;
  --color-red-500: #ef4444;
  --color-yellow-500: #eab308;
  --color-green-500: #22c55e;
  --color-gray-500: #6b7280;

  --color-blue-700: #1d4ed8;
  --color-red-700: #b91c1c;
  --color-yellow-700: #a16207;
  --color-green-700: #15803d;
  --color-gray-700: #374151;

  /* Size space */
  --size-space-tiny: 0.25rem;
  --size-space-small: 0.5rem;
  --size-space-medium: 0.75rem;
  --size-space-large: 1rem;
  --size-space-x-large: 1.25rem;
  --size-space-xx-large: 1.5rem; 
}

/* Light mode */
:root {
  --color-background: var(--color-white);
  --color-text: var(--color-black);

  --color-danger: var(--color-red-500);
  --color-warning: var(--color-yellow-500);
  --color-success: var(--color-green-500);
  --color-secondary: var(--color-gray-500);
  --color-primary: var(--color-blue-500);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-white);
    --color-background: var(--color-black);
  
    --color-danger: var(--color-red-700);
    --color-warning: var(--color-yellow-700);
    --color-success: var(--color-green-700);
    --color-secondary: var(--color-gray-700);
    --color-primary: var(--color-blue-700);
  }
}
